<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fm.module.manager">

    <application>
        <activity
            android:name=".ManagerActivityMain"
            android:exported="true" />

        <activity
            android:name=".history.ManagerActivityHistory"
            android:exported="true" />

        <activity
            android:name=".store.ManagerActivityStore"
            android:exported="true" />

    </application>

</manifest>